

.about{
   
    width: 90%;
    height: 35vh;
    margin: 0 3rem;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    flex-direction: column;
    border-radius: 1rem;
    
    justify-content: start;
}
#adesc{
    width: 100%;
    /* padding-left: 4rem; */
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}
#modelspec{
    font-size: 1.5rem;
    
}
#about{
    font-size: 3rem;
    text-align: center;
    
}
