
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(45deg, #1a2a6c 0%, #4f387a 25%, #6c3483 50%);

  z-index: -1;
  color: #ecf0f1;
  width: 100vw;
  height: 100vh;

}