

.about{
   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 12rem 3rem;
  
}
.acont{
    display: flex;
    gap: 3.5rem;
    justify-content: space-between;
    align-items: center;
   
   
    width: 100%;
}

#adesc{

   
    /* padding-left: 4rem; */
    font-size: 1.5rem;
    
    margin-top: 2rem;
    
    margin-left:2rem;
}
.aleft{
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    
}
.aright{
    
    width: 65%;

}
.aleft img{
   color: white;
   width: 300px;
   

}
#modelspec{
    font-size: 1.5rem;
    
}
#aboutt{
    font-size: 5rem;
    text-align: center;
   
    
}
@media screen and (max-width:800px) {
    .acont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aright{
        width: 90%;
    }
    .aleft{
        width: 250px;
    }
    #aboutt{
        font-size: 3rem;
        margin-top: 5rem;
    }
}