.capture{
    width: 90%;
    height: 55vh;
    margin-left:3rem;
    margin-right:3rem;
    margin-top: 12rem;
    margin-bottom: 5rem;
    display: flex;

    align-items: center;
    justify-content: center;
   
    padding: 1rem;
   
    color: white;
    border: 2px  white dashed ;
    background-color: rgba(47, 45, 45, 0.524);

    cursor: pointer;

    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
    
    
}
#ctitle{
    font-size: 2rem;
}


#btn{
    height: 2.5rem;
    width: auto;
    padding: 0.5rem;
    color: #39FF14;
    font-size: 1.3rem;
    border-radius: 0.4rem;
    border: 2px solid white;

    background-color: black;

    cursor: pointer;
}

.load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.terminal {
    overflow: hidden; 
    white-space: nowrap; 
    display: inline-block;

    font-size: 5rem;

    color: lime;
    border-right: 2px solid lime;
    animation: typing 2s steps(5, end), blink 0.6s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0; 
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    from, to {
      border-color: transparent; 
    }
    50% {
      border-color: lime; 
    }
  }
  
  