.capture{
    width: 90%;
    height: 35vh;
    margin: 12rem 3rem;
    display: flex;

    align-items: center;
    justify-content: center;
   
    padding: 1rem;
   
    border-radius: 1rem;

    background-color: rgb(76, 32, 96);
    
    
}
#ctitle{
    font-size: 2rem;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#btn{
    height: 2.5rem;
    width: 6rem;
    padding: 0.5rem;
    color: white;
    font-size: 1.3rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(0, 33, 100);
    background-color: #7861cb98;
}
.load{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}