.footer{
    width: 100vw;
    height: 3rem;
   padding-top: 1rem;
   position: absolute;
    left: 0;
    border-top: 1px solid white;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}