.modelspec{
   
    width: 90%;
    height: 35vh;
    margin-top: 12rem ;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    flex-direction: column;
    border-radius: 1rem;
    margin-bottom: 2rem;
    justify-content: start;
    
}
#mtitle{
    font-size: 3rem;
}
.cards{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
#itemimg{
    height: 2.5rem;
    width: 3rem;
}


.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
    text-align: center;
    border: 1px solid #EDF6F9;
    padding: 1rem;
    color: #EDF6F9;
    border-radius: 0.4rem;
    background-color: black;
}