*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
   
}
.nav{
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    
    
    justify-content: start;
    align-items: end;
    position: fixed;
   
    top: 0rem;
    left: 0rem;
    gap: 2.2rem;
    
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid white;
    z-index: 100;
}
.nright{
    display: flex;
    flex-direction: row;
    height: 3rem;
    
    
    justify-content: end;
    align-items: end;
    
   
    top: 0rem;
    
    gap: 1.5rem;
    
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    background-color: black;
    /* border-bottom: 2px solid white;
    z-index: 100; */

}
span{
    color:white;
}
.nleft{
   
   width: 30%;
   height: 3rem;
   display: flex;
   font-size: 1.5rem;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   font-weight: bold;
  
   
}
.nleft img{
   height: 3rem;
    z-index: 50;
}
.nav button{
    all: unset;
  
    cursor: pointer;
    color:  white;
    padding-left: 2rem;
    border-left: 2px solid white;
}
@media screen and (max-width:800px) {
    .nright{
        display: none;
    }
    .nav{
        justify-content: center;
    }
}